#previewwrap{
    background-color: rgb(52, 88, 105);
    outline:none;
    resize:vertical;
    font-size: 0.9rem;
    border:1px solid black;
    border-top:none;
    box-shadow: 1px 1px 1px 2px rgb(44, 43, 43);
    min-height: 150px;
    min-width: 500px;
    /* max-width: 500px; */
    overflow-wrap: break-word;
}